astroid==2.9.3
click==8.1.8
Flask==2.0.2
Flask-MySQLdb==0.2.0
isort==5.13.2
itsdangerous==2.2.0
jedi==0.18.1
Jinja2==3.1.5
lazy-object-proxy==1.10.0
MarkupSafe==3.0.2
mccabe==0.6.1
mysqlclient==2.1.0
parso==0.8.4
platformdirs==4.3.6
PyJWT==2.3.0
pylint==2.12.2
toml==0.10.2
Werkzeug==2.0.2
wrapt==1.13.3
